@font-face {
  font-family: "pacman";

  src: url("../fonts/pacman.eot?mjy4uh");
  src: url("../fonts/pacman.eot?mjy4uh#iefix") format("embedded-opentype"),
    url("../fonts/pacman.ttf?mjy4uh") format("truetype"),
    url("../fonts/pacman.woff?mjy4uh") format("woff"),
    url("../fonts/pacman.svg?mjy4uh#pacman") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "pacman" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  size: 90%;
}
.header-pacman {
  font-size: 40px;
  border: blue;
  font-display: 30%;
  padding-bottom: 0;
}
.header-pdx {
  font-size: 60px;
  border: blue;
  font-display: 30%;
  padding-bottom: 0;
}
.rose-img {
  width: 60%;
  height: 60%;
  display: inline-flex;
  justify-content: center;
}
.rose-img > img {
  max-width: 100%;
  height: auto;
  justify-content: center;
  padding-bottom: 10px;
}

h1 {
  margin: 0;
}
h2 {
  font-size: 60px;
  margin: 0;
}
.logon {
  width: 50%;
  height: 50%;
  justify-content: center;
}
.logon > button {
  height: 100%;
  font-weight: bolder;
  font-size: medium;
  width: 100%;
}
/* .btn-default:hover, */
/* .btn-default:focus, */
/* .btn-default:active, */
/* .btn-default.active, */
.open .dropdown-toggle.btn-default {
  background-color: green;
  color: black;
  border-color: white;
}

.icon-A .path1:before {
  content: "\e90c";
  color: rgb(255, 255, 255);
}
.icon-A .path2:before {
  content: "\e90d";
  margin-left: -1.1259765625em;
  color: rgb(59, 31, 135);
}
.icon-A .path3:before {
  content: "\e90e";
  margin-left: -1.1259765625em;
  color: green;
}
.icon-A .path4:before {
  content: "\e90f";
  margin-left: -1.1259765625em;
  color: rgb(0, 0, 0);
}
.icon-A .path5:before {
  content: "\e910";
  margin-left: -1.1259765625em;
  color: none;
}
.icon-A .path6:before {
  content: "\e911";
  margin-left: -1.1259765625em;
  color: none;
}

.icon-C .path1:before {
  content: "\e92f";
  color: rgb(255, 255, 255);
}
.icon-C .path2:before {
  content: "\e930";
  margin-left: -0.9814453125em;
  color: rgb(59, 31, 135);
}
.icon-C .path3:before {
  content: "\e931";
  margin-left: -0.9814453125em;
  color: green;
}
.icon-C .path4:before {
  content: "\e932";
  margin-left: -0.9814453125em;
  color: none;
}
.icon-C .path5:before {
  content: "\e933";
  margin-left: -0.9814453125em;
  color: none;
}
.icon-D .path1:before {
  content: "\e934";
  color: rgb(255, 255, 255);
}
.icon-D .path2:before {
  content: "\e935";
  margin-left: -0.9208984375em;
  color: rgb(59, 31, 135);
}
.icon-D .path3:before {
  content: "\e936";
  margin-left: -0.9208984375em;
  color: green;
}
.icon-D .path4:before {
  content: "\e937";
  margin-left: -0.9208984375em;
  color: rgb(10, 0, 0);
}
.icon-D .path5:before {
  content: "\e938";
  margin-left: -0.9208984375em;
  color: none;
}
.icon-D .path6:before {
  content: "\e939";
  margin-left: -0.9208984375em;
  color: none;
}

.icon-hyphen .path1:before {
  content: "\e960";
  color: rgb(59, 31, 135);
}
.icon-hyphen .path2:before {
  content: "\e961";
  margin-left: -1.4794921875em;
  color: rgb(255, 255, 255);
}
.icon-hyphen .path3:before {
  content: "\e962";
  margin-left: -1.4794921875em;
  color: rgb(252, 207, 0);
}

.icon-M .path1:before {
  content: "\e97f";
  color: rgb(255, 255, 255);
}
.icon-M .path2:before {
  content: "\e980";
  margin-left: -0.904296875em;
  color: rgb(59, 31, 135);
}
.icon-M .path3:before {
  content: "\e981";
  margin-left: -0.904296875em;
  color: green;
}
.icon-M .path4:before {
  content: "\e982";
  margin-left: -0.904296875em;
  color: none;
}
.icon-N .path1:before {
  content: "\e983";
  color: rgb(255, 255, 255);
}
.icon-N .path2:before {
  content: "\e984";
  margin-left: -0.86328125em;
  color: rgb(59, 31, 135);
}
.icon-N .path3:before {
  content: "\e985";
  margin-left: -0.86328125em;
  color: green;
}
.icon-N .path4:before {
  content: "\e986";
  margin-left: -0.86328125em;
  color: none;
}

.icon-P .path1:before {
  content: "\e992";
  color: rgb(255, 255, 255);
}
.icon-P .path2:before {
  content: "\e993";
  margin-left: -0.8671875em;
  color: rgb(59, 31, 135);
}
.icon-P .path3:before {
  content: "\e994";
  margin-left: -0.8671875em;
  color: green;
}
.icon-P .path4:before {
  content: "\e995";
  margin-left: -0.8671875em;
  color: none;
}
.icon-P .path5:before {
  content: "\e996";
  margin-left: -0.8671875em;
  color: none;
}
.icon-P .path6:before {
  content: "\e997";
  margin-left: -0.8671875em;
  color: rgb(0, 0, 0);
}

.icon-X .path1:before {
  content: "\e9c3";
  color: rgb(255, 255, 255);
}
.icon-X .path2:before {
  content: "\e9c4";
  margin-left: -1.05078125em;
  color: rgb(59, 31, 135);
}
.icon-X .path3:before {
  content: "\e9c5";
  margin-left: -1.05078125em;
  color: green;
}
.icon-X .path4:before {
  content: "\e9c6";
  margin-left: -1.05078125em;
  color: none;
}
.icon-X .path5:before {
  content: "\e9c7";
  margin-left: -1.05078125em;
  color: none;
}
