* {
  outline: 1px dotted purple;
}
.pacman-left {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("/Images/pacman-open-left.jpg");
  background-size: 100%;
}
.pacman-right {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("/Images/pacman-open-right.jpg");
  background-size: 100%;
}
.pacman-up {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("/Images/pacman-open-up.jpg");
  background-color: black;
  background-size: 100%;
}
.pacman-down {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("/Images/pacman-open-down.jpg");
  background-color: black;
  background-size: 100%;
}
.wall {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("/Images/wall.jpg");
  background-size: 100%;
}
.ground {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("/Images/ground.jpg");
  background-size: 100%;
}
.rose-red {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("/Images/rose.jpg");
  background-size: 100%;
}
.rose-pink {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("/Images/rose-pink.jpg");
  background-size: 100%;
}
.rose-yellow {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("/Images/rose-yellow.jpg");
  background-size: 100%;
}
.rose-brown {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("/Images/rose-brown.gif");
  background-size: 100%;
}
