.tile {
  display: inline-block;
  width: 4vw;
  height: 4vw;
  background-size: 100%;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 3;
}

.ground {
  background-image: url("../Images/ground.jpg");
}

.log {
  background-image: url("../Images/log.png");
}
.log-vert {
  transform: rotate(90deg);
}

.thorns {
  background-image: url("../Images/thorns-corner.jpg");
}
.thorns-br {
  transform: rotate(90deg); /* bottom right */
}
.thorns-bl {
  transform: rotate(180deg); /* bottom left */
}
.thorns-tl {
  transform: rotate(270deg); /* top left */
}

/* Backgrounds */
body {
  height: 95vh;
  width: 95vw;
  background-color: black;
}
#world {
  background-color: black;
  position: absolute;
  height: min-content;
  width: 68vw;
  z-index: 2;
}
#gameboard {
  z-index: 4;
  position: absolute;
  padding: 2vw 0 0 2vw;
}

/*header-frames*/
.header-userFrame {
  justify-content: start;
  width: 33vw;
  padding: 2px;
  border-radius: 2px;
  border: 2px solid grey;
  margin: 2px;
  text-align: left;
  font-family: monospace;
}
.header-userFrame > img {
  max-height: 2%;
  max-width: 2%;
  text-align: center;
}
.header-scoreFrame {
  justify-content: center;
  width: 33vw;
  padding: 2px;
  border: 2px solid grey;
  border-radius: 2px;
  margin: 2px;
  text-align: center;
}
.header-livesFrame {
  width: 33vw;
  justify-content: end;
  padding: 2px;
  border-radius: 2px;
  border: 2px solid grey;
  margin: 2px;
  /* text-align: right; */
  text-align: center;
}

#livesFrame,
#scoreFrame,
#playerFrame {
  margin: 0;
  padding: 0 1em;
}

/*Body frames*/
.bodyFrame {
  display: flex;
  flex-direction: column;
  padding: 4px;
  border-radius: 2px;
  height: 99%;
  width: 99%;
}
.bodyFrame-top {
  position: relative;
  display: flex;
  height: 5%;
  font-family: monospace;
  color: white;
}
.bodyFrame-bottom {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 4px;
  max-width: 98vw;
}
.bodyFrame-left {
  background-color: green;
  padding: 4px;
  border-radius: 2px;
  border: 2px solid grey;
  margin: 2px;
  width: 20%;
  text-align: center;
  vertical-align: bottom;
  height: auto;
}
#endButton,
#pauseButton {
  background-color: black;
  color: white;
}
.bodyFrame-left > img {
  margin-top: 20vh;
  text-align: justify;
}
#gameStatus {
  margin: 2em auto;
  color: white;
  font-size: xx-large;
  /* font-family: "pacman"; */
  /* TODO: Use pacman font */
}
.bodyFrame-right {
  display: flex;
  padding: 4px;
  border-radius: 2px;
  margin: 2px;
  position: relative;
  width: 80%;
  height: 100%;
}
.bodyFrame-buttonControlFrame {
  /* background-color: black; */
  display: flex;
  align-items: center;
  margin: 10px;
  /* padding-top: 10px; */
}
.Frame-buttonContfrolframe > a {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
