@font-face {
  font-family: 'pacman';
  src:  url('fonts/pacman.eot?mjy4uh');
  src:  url('fonts/pacman.eot?mjy4uh#iefix') format('embedded-opentype'),
    url('fonts/pacman.ttf?mjy4uh') format('truetype'),
    url('fonts/pacman.woff?mjy4uh') format('woff'),
    url('fonts/pacman.svg?mjy4uh#pacman') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pacman' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-0 .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.icon-0 .path2:before {
  content: "\e901";
  margin-left: -0.8486328125em;
  color: rgb(59, 31, 135);
}
.icon-0 .path3:before {
  content: "\e902";
  margin-left: -0.8486328125em;
  color: rgb(252, 207, 0);
}
.icon-0 .path4:before {
  content: "\e903";
  margin-left: -0.8486328125em;
  color: none;
  opacity: 0.8706;
}
.icon-0 .path5:before {
  content: "\e904";
  margin-left: -0.8486328125em;
  color: rgb(0, 0, 0);
}
.icon-0 .path6:before {
  content: "\e905";
  margin-left: -0.8486328125em;
  color: none;
}
.icon-4 .path1:before {
  content: "\e906";
  color: rgb(255, 255, 255);
}
.icon-4 .path2:before {
  content: "\e907";
  margin-left: -0.8388671875em;
  color: rgb(59, 31, 135);
}
.icon-4 .path3:before {
  content: "\e908";
  margin-left: -0.8388671875em;
  color: rgb(252, 207, 0);
}
.icon-4 .path4:before {
  content: "\e909";
  margin-left: -0.8388671875em;
  color: rgb(10, 0, 0);
}
.icon-4 .path5:before {
  content: "\e90a";
  margin-left: -0.8388671875em;
  color: none;
}
.icon-4 .path6:before {
  content: "\e90b";
  margin-left: -0.8388671875em;
  color: none;
}
.icon-A .path1:before {
  content: "\e90c";
  color: rgb(255, 255, 255);
}
.icon-A .path2:before {
  content: "\e90d";
  margin-left: -1.1259765625em;
  color: rgb(59, 31, 135);
}
.icon-A .path3:before {
  content: "\e90e";
  margin-left: -1.1259765625em;
  color: rgb(252, 207, 0);
}
.icon-A .path4:before {
  content: "\e90f";
  margin-left: -1.1259765625em;
  color: rgb(0, 0, 0);
}
.icon-A .path5:before {
  content: "\e910";
  margin-left: -1.1259765625em;
  color: none;
}
.icon-A .path6:before {
  content: "\e911";
  margin-left: -1.1259765625em;
  color: none;
}
.icon-ampersand-alternate .path1:before {
  content: "\e912";
  color: rgb(255, 255, 255);
}
.icon-ampersand-alternate .path2:before {
  content: "\e913";
  margin-left: -0.998046875em;
  color: rgb(59, 31, 135);
}
.icon-ampersand-alternate .path3:before {
  content: "\e914";
  margin-left: -0.998046875em;
  color: rgb(252, 207, 0);
}
.icon-ampersand-alternate .path4:before {
  content: "\e915";
  margin-left: -0.998046875em;
  color: none;
}
.icon-ampersand-alternate .path5:before {
  content: "\e916";
  margin-left: -0.998046875em;
  color: none;
}
.icon-ampersand-alternate .path6:before {
  content: "\e917";
  margin-left: -0.998046875em;
  color: rgb(0, 0, 0);
}
.icon-ampersand-alternate .path7:before {
  content: "\e918";
  margin-left: -0.998046875em;
  color: none;
}
.icon-ampersand-alternate .path8:before {
  content: "\e919";
  margin-left: -0.998046875em;
  color: rgb(0, 0, 0);
}
.icon-ampersand .path1:before {
  content: "\e91a";
  color: rgb(255, 255, 255);
}
.icon-ampersand .path2:before {
  content: "\e91b";
  margin-left: -0.837890625em;
  color: rgb(59, 31, 135);
}
.icon-ampersand .path3:before {
  content: "\e91c";
  margin-left: -0.837890625em;
  color: rgb(252, 207, 0);
}
.icon-ampersand .path4:before {
  content: "\e91d";
  margin-left: -0.837890625em;
  color: none;
}
.icon-ampersand .path5:before {
  content: "\e91e";
  margin-left: -0.837890625em;
  color: none;
}
.icon-ampersand .path6:before {
  content: "\e91f";
  margin-left: -0.837890625em;
  color: none;
}
.icon-ampersand .path7:before {
  content: "\e920";
  margin-left: -0.837890625em;
  color: none;
}
.icon-ampersand .path8:before {
  content: "\e921";
  margin-left: -0.837890625em;
  color: rgb(0, 0, 0);
}
.icon-ampersand .path9:before {
  content: "\e922";
  margin-left: -0.837890625em;
  color: rgb(0, 0, 0);
}
.icon-apostrophe .path1:before {
  content: "\e923";
  color: rgb(255, 255, 255);
}
.icon-apostrophe .path2:before {
  content: "\e924";
  margin-left: -0.9267578125em;
  color: rgb(59, 31, 135);
}
.icon-apostrophe .path3:before {
  content: "\e925";
  margin-left: -0.9267578125em;
  color: rgb(252, 207, 0);
}
.icon-B .path1:before {
  content: "\e926";
  color: rgb(255, 255, 255);
}
.icon-B .path2:before {
  content: "\e927";
  margin-left: -0.8759765625em;
  color: rgb(59, 31, 135);
}
.icon-B .path3:before {
  content: "\e928";
  margin-left: -0.8759765625em;
  color: rgb(252, 207, 0);
}
.icon-B .path4:before {
  content: "\e929";
  margin-left: -0.8759765625em;
  color: none;
}
.icon-B .path5:before {
  content: "\e92a";
  margin-left: -0.8759765625em;
  color: rgb(10, 0, 0);
}
.icon-B .path6:before {
  content: "\e92b";
  margin-left: -0.8759765625em;
  color: none;
}
.icon-B .path7:before {
  content: "\e92c";
  margin-left: -0.8759765625em;
  color: rgb(10, 0, 0);
}
.icon-B .path8:before {
  content: "\e92d";
  margin-left: -0.8759765625em;
  color: none;
  opacity: 0.98;
}
.icon-border:before {
  content: "\e92e";
}
.icon-C-alternate .path1:before {
  content: "\e9d2";
  color: rgb(255, 255, 255);
}
.icon-C-alternate .path2:before {
  content: "\e9d3";
  margin-left: -0.9814453125em;
  color: rgb(59, 31, 135);
}
.icon-C-alternate .path3:before {
  content: "\e9d4";
  margin-left: -0.9814453125em;
  color: rgb(252, 207, 0);
}
.icon-C-alternate .path4:before {
  content: "\e9d5";
  margin-left: -0.9814453125em;
  color: none;
}
.icon-C-alternate .path5:before {
  content: "\e9d6";
  margin-left: -0.9814453125em;
  color: rgb(0, 0, 0);
}
.icon-C .path1:before {
  content: "\e92f";
  color: rgb(255, 255, 255);
}
.icon-C .path2:before {
  content: "\e930";
  margin-left: -0.9814453125em;
  color: rgb(59, 31, 135);
}
.icon-C .path3:before {
  content: "\e931";
  margin-left: -0.9814453125em;
  color: rgb(252, 207, 0);
}
.icon-C .path4:before {
  content: "\e932";
  margin-left: -0.9814453125em;
  color: none;
}
.icon-C .path5:before {
  content: "\e933";
  margin-left: -0.9814453125em;
  color: none;
}
.icon-D .path1:before {
  content: "\e934";
  color: rgb(255, 255, 255);
}
.icon-D .path2:before {
  content: "\e935";
  margin-left: -0.9208984375em;
  color: rgb(59, 31, 135);
}
.icon-D .path3:before {
  content: "\e936";
  margin-left: -0.9208984375em;
  color: rgb(252, 207, 0);
}
.icon-D .path4:before {
  content: "\e937";
  margin-left: -0.9208984375em;
  color: rgb(10, 0, 0);
}
.icon-D .path5:before {
  content: "\e938";
  margin-left: -0.9208984375em;
  color: none;
}
.icon-D .path6:before {
  content: "\e939";
  margin-left: -0.9208984375em;
  color: none;
}
.icon-dot .path1:before {
  content: "\e93a";
  color: rgb(255, 255, 255);
}
.icon-dot .path2:before {
  content: "\e93b";
  margin-left: -0.9765625em;
  color: rgb(59, 31, 135);
}
.icon-dot .path3:before {
  content: "\e93c";
  margin-left: -0.9765625em;
  color: rgb(249, 204, 0);
}
.icon-E-alternate .path1:before {
  content: "\e93d";
  color: rgb(255, 255, 255);
}
.icon-E-alternate .path2:before {
  content: "\e93e";
  margin-left: -0.875em;
  color: rgb(59, 31, 135);
}
.icon-E-alternate .path3:before {
  content: "\e93f";
  margin-left: -0.875em;
  color: rgb(252, 207, 0);
}
.icon-E-alternate .path4:before {
  content: "\e940";
  margin-left: -0.875em;
  color: none;
}
.icon-E .path1:before {
  content: "\e941";
  color: rgb(255, 246, 255);
}
.icon-E .path2:before {
  content: "\e942";
  margin-left: -0.8798828125em;
  color: rgb(255, 0, 0);
}
.icon-E .path3:before {
  content: "\e943";
  margin-left: -0.8798828125em;
  color: rgb(59, 31, 135);
}
.icon-E .path4:before {
  content: "\e944";
  margin-left: -0.8798828125em;
  color: rgb(252, 207, 0);
}
.icon-E .path5:before {
  content: "\e945";
  margin-left: -0.8798828125em;
  color: none;
}
.icon-exclamation .path1:before {
  content: "\e946";
  color: rgb(59, 31, 135);
}
.icon-exclamation .path2:before {
  content: "\e947";
  margin-left: -0.5126953125em;
  color: rgb(255, 255, 255);
}
.icon-exclamation .path3:before {
  content: "\e948";
  margin-left: -0.5126953125em;
  color: rgb(255, 255, 255);
}
.icon-exclamation .path4:before {
  content: "\e949";
  margin-left: -0.5126953125em;
  color: rgb(59, 31, 135);
}
.icon-exclamation .path5:before {
  content: "\e94a";
  margin-left: -0.5126953125em;
  color: rgb(252, 207, 0);
}
.icon-exclamation .path6:before {
  content: "\e94b";
  margin-left: -0.5126953125em;
  color: none;
}
.icon-exclamation .path7:before {
  content: "\e94c";
  margin-left: -0.5126953125em;
  color: rgb(252, 207, 0);
}
.icon-exclamation .path8:before {
  content: "\e94d";
  margin-left: -0.5126953125em;
  color: none;
}
.icon-F .path1:before {
  content: "\e94e";
  color: rgb(59, 31, 135);
}
.icon-F .path2:before {
  content: "\e94f";
  margin-left: -0.8232421875em;
  color: rgb(255, 255, 255);
}
.icon-F .path3:before {
  content: "\e950";
  margin-left: -0.8232421875em;
  color: rgb(252, 207, 0);
}
.icon-F .path4:before {
  content: "\e951";
  margin-left: -0.8232421875em;
  color: none;
}
.icon-G .path1:before {
  content: "\e952";
  color: rgb(255, 255, 255);
}
.icon-G .path2:before {
  content: "\e953";
  margin-left: -1.0087890625em;
  color: rgb(59, 31, 135);
}
.icon-G .path3:before {
  content: "\e954";
  margin-left: -1.0087890625em;
  color: rgb(252, 207, 0);
}
.icon-G .path4:before {
  content: "\e955";
  margin-left: -1.0087890625em;
  color: none;
}
.icon-G .path5:before {
  content: "\e956";
  margin-left: -1.0087890625em;
  color: none;
}
.icon-H-alternate .path1:before {
  content: "\e957";
  color: rgb(255, 255, 255);
}
.icon-H-alternate .path2:before {
  content: "\e958";
  margin-left: -0.9658203125em;
  color: rgb(59, 30, 135);
}
.icon-H-alternate .path3:before {
  content: "\e959";
  margin-left: -0.9658203125em;
  color: rgb(252, 207, 0);
}
.icon-H-alternate .path4:before {
  content: "\e95a";
  margin-left: -0.9658203125em;
  color: none;
}
.icon-H-alternate .path5:before {
  content: "\e95b";
  margin-left: -0.9658203125em;
  color: none;
}
.icon-H .path1:before {
  content: "\e95c";
  color: rgb(255, 255, 255);
}
.icon-H .path2:before {
  content: "\e95d";
  margin-left: -0.9658203125em;
  color: rgb(59, 30, 135);
}
.icon-H .path3:before {
  content: "\e95e";
  margin-left: -0.9658203125em;
  color: rgb(252, 207, 0);
}
.icon-H .path4:before {
  content: "\e95f";
  margin-left: -0.9658203125em;
  color: none;
}
.icon-hyphen .path1:before {
  content: "\e960";
  color: rgb(59, 31, 135);
}
.icon-hyphen .path2:before {
  content: "\e961";
  margin-left: -1.4794921875em;
  color: rgb(255, 255, 255);
}
.icon-hyphen .path3:before {
  content: "\e962";
  margin-left: -1.4794921875em;
  color: rgb(252, 207, 0);
}
.icon-I .path1:before {
  content: "\e963";
  color: rgb(255, 255, 255);
}
.icon-I .path2:before {
  content: "\e964";
  margin-left: -0.52734375em;
  color: rgb(59, 31, 135);
}
.icon-I .path3:before {
  content: "\e965";
  margin-left: -0.52734375em;
  color: rgb(252, 207, 0);
}
.icon-I .path4:before {
  content: "\e966";
  margin-left: -0.52734375em;
  color: none;
}
.icon-J-alternate .path1:before {
  content: "\e967";
  color: rgb(59, 31, 135);
}
.icon-J-alternate .path2:before {
  content: "\e968";
  margin-left: -0.8603515625em;
  color: rgb(255, 255, 255);
}
.icon-J-alternate .path3:before {
  content: "\e969";
  margin-left: -0.8603515625em;
  color: rgb(252, 207, 0);
}
.icon-J-alternate .path4:before {
  content: "\e96a";
  margin-left: -0.8603515625em;
  color: none;
}
.icon-J .path1:before {
  content: "\e96b";
  color: rgb(59, 31, 135);
}
.icon-J .path2:before {
  content: "\e96c";
  margin-left: -0.8623046875em;
  color: rgb(255, 255, 255);
}
.icon-J .path3:before {
  content: "\e96d";
  margin-left: -0.8623046875em;
  color: rgb(252, 207, 0);
}
.icon-J .path4:before {
  content: "\e96e";
  margin-left: -0.8623046875em;
  color: none;
}
.icon-K-alternate-1 .path1:before {
  content: "\e9d7";
  color: rgb(255, 255, 255);
}
.icon-K-alternate-1 .path2:before {
  content: "\e9d8";
  margin-left: -1.07421875em;
  color: rgb(59, 31, 135);
}
.icon-K-alternate-1 .path3:before {
  content: "\e9d9";
  margin-left: -1.07421875em;
  color: rgb(252, 207, 0);
}
.icon-K-alternate-1 .path4:before {
  content: "\e9da";
  margin-left: -1.07421875em;
  color: none;
}
.icon-K-alternate-1 .path5:before {
  content: "\e9db";
  margin-left: -1.07421875em;
  color: none;
}
.icon-K-alternate-2 .path1:before {
  content: "\e9dc";
  color: rgb(255, 255, 255);
}
.icon-K-alternate-2 .path2:before {
  content: "\e9dd";
  margin-left: -0.939453125em;
  color: rgb(59, 31, 135);
}
.icon-K-alternate-2 .path3:before {
  content: "\e9de";
  margin-left: -0.939453125em;
  color: rgb(252, 207, 0);
}
.icon-K-alternate-2 .path4:before {
  content: "\e9df";
  margin-left: -0.939453125em;
  color: none;
}
.icon-K-alternate-2 .path5:before {
  content: "\e9e0";
  margin-left: -0.939453125em;
  color: none;
}
.icon-K .path1:before {
  content: "\e96f";
  color: rgb(255, 255, 255);
}
.icon-K .path2:before {
  content: "\e970";
  margin-left: -1.0927734375em;
  color: rgb(59, 31, 135);
}
.icon-K .path3:before {
  content: "\e971";
  margin-left: -1.0927734375em;
  color: rgb(252, 207, 0);
}
.icon-K .path4:before {
  content: "\e972";
  margin-left: -1.0927734375em;
  color: none;
}
.icon-K .path5:before {
  content: "\e973";
  margin-left: -1.0927734375em;
  color: none;
}
.icon-K .path6:before {
  content: "\e974";
  margin-left: -1.0927734375em;
  color: none;
}
.icon-L-alternate .path1:before {
  content: "\e975";
  color: rgb(255, 255, 255);
}
.icon-L-alternate .path2:before {
  content: "\e976";
  margin-left: -0.865234375em;
  color: rgb(59, 31, 135);
}
.icon-L-alternate .path3:before {
  content: "\e977";
  margin-left: -0.865234375em;
  color: rgb(252, 207, 0);
}
.icon-L-alternate .path4:before {
  content: "\e978";
  margin-left: -0.865234375em;
  color: none;
}
.icon-L-alternate .path5:before {
  content: "\e979";
  margin-left: -0.865234375em;
  color: none;
}
.icon-L .path1:before {
  content: "\e97a";
  color: rgb(255, 255, 255);
}
.icon-L .path2:before {
  content: "\e97b";
  margin-left: -0.865234375em;
  color: rgb(59, 31, 135);
}
.icon-L .path3:before {
  content: "\e97c";
  margin-left: -0.865234375em;
  color: rgb(252, 207, 0);
}
.icon-L .path4:before {
  content: "\e97d";
  margin-left: -0.865234375em;
  color: none;
}
.icon-L .path5:before {
  content: "\e97e";
  margin-left: -0.865234375em;
  color: none;
}
.icon-M .path1:before {
  content: "\e97f";
  color: rgb(255, 255, 255);
}
.icon-M .path2:before {
  content: "\e980";
  margin-left: -0.904296875em;
  color: rgb(59, 31, 135);
}
.icon-M .path3:before {
  content: "\e981";
  margin-left: -0.904296875em;
  color: rgb(252, 207, 0);
}
.icon-M .path4:before {
  content: "\e982";
  margin-left: -0.904296875em;
  color: none;
}
.icon-N .path1:before {
  content: "\e983";
  color: rgb(255, 255, 255);
}
.icon-N .path2:before {
  content: "\e984";
  margin-left: -0.86328125em;
  color: rgb(59, 31, 135);
}
.icon-N .path3:before {
  content: "\e985";
  margin-left: -0.86328125em;
  color: rgb(252, 207, 0);
}
.icon-N .path4:before {
  content: "\e986";
  margin-left: -0.86328125em;
  color: none;
}
.icon-O-alternate .path1:before {
  content: "\e987";
  color: rgb(255, 255, 255);
}
.icon-O-alternate .path2:before {
  content: "\e988";
  margin-left: -1.02734375em;
  color: rgb(59, 31, 135);
}
.icon-O-alternate .path3:before {
  content: "\e989";
  margin-left: -1.02734375em;
  color: rgb(252, 207, 0);
}
.icon-O-alternate .path4:before {
  content: "\e98a";
  margin-left: -1.02734375em;
  color: none;
}
.icon-O-alternate .path5:before {
  content: "\e98b";
  margin-left: -1.02734375em;
  color: rgb(0, 0, 0);
}
.icon-O-alternate .path6:before {
  content: "\e98c";
  margin-left: -1.02734375em;
  color: none;
}
.icon-O .path1:before {
  content: "\e98d";
  color: rgb(255, 255, 255);
}
.icon-O .path2:before {
  content: "\e98e";
  margin-left: -1.02734375em;
  color: rgb(59, 31, 135);
}
.icon-O .path3:before {
  content: "\e98f";
  margin-left: -1.02734375em;
  color: rgb(252, 207, 0);
}
.icon-O .path4:before {
  content: "\e990";
  margin-left: -1.02734375em;
  color: none;
}
.icon-O .path5:before {
  content: "\e991";
  margin-left: -1.02734375em;
  color: rgb(0, 0, 0);
}
.icon-P .path1:before {
  content: "\e992";
  color: rgb(255, 255, 255);
}
.icon-P .path2:before {
  content: "\e993";
  margin-left: -0.8671875em;
  color: rgb(59, 31, 135);
}
.icon-P .path3:before {
  content: "\e994";
  margin-left: -0.8671875em;
  color: rgb(252, 207, 0);
}
.icon-P .path4:before {
  content: "\e995";
  margin-left: -0.8671875em;
  color: none;
}
.icon-P .path5:before {
  content: "\e996";
  margin-left: -0.8671875em;
  color: none;
}
.icon-P .path6:before {
  content: "\e997";
  margin-left: -0.8671875em;
  color: rgb(0, 0, 0);
}
.icon-Q .path1:before {
  content: "\e998";
  color: rgb(255, 255, 255);
}
.icon-Q .path2:before {
  content: "\e999";
  margin-left: -1.1396484375em;
  color: rgb(59, 31, 135);
}
.icon-Q .path3:before {
  content: "\e99a";
  margin-left: -1.1396484375em;
  color: rgb(252, 207, 0);
}
.icon-Q .path4:before {
  content: "\e99b";
  margin-left: -1.1396484375em;
  color: none;
}
.icon-Q .path5:before {
  content: "\e99c";
  margin-left: -1.1396484375em;
  color: rgb(0, 0, 0);
}
.icon-Q .path6:before {
  content: "\e99d";
  margin-left: -1.1396484375em;
  color: none;
}
.icon-question-mark .path1:before {
  content: "\e9e1";
  color: rgb(59, 31, 135);
}
.icon-question-mark .path2:before {
  content: "\e9e2";
  margin-left: -0.7978515625em;
  color: rgb(255, 255, 255);
}
.icon-question-mark .path3:before {
  content: "\e9e3";
  margin-left: -0.7978515625em;
  color: rgb(255, 255, 255);
}
.icon-question-mark .path4:before {
  content: "\e9e4";
  margin-left: -0.7978515625em;
  color: rgb(59, 31, 135);
}
.icon-question-mark .path5:before {
  content: "\e9e5";
  margin-left: -0.7978515625em;
  color: rgb(252, 207, 0);
}
.icon-question-mark .path6:before {
  content: "\e9e6";
  margin-left: -0.7978515625em;
  color: none;
}
.icon-question-mark .path7:before {
  content: "\e9e7";
  margin-left: -0.7978515625em;
  color: rgb(252, 207, 0);
}
.icon-question-mark .path8:before {
  content: "\e9e8";
  margin-left: -0.7978515625em;
  color: none;
  opacity: 0.3433;
}
.icon-R-alternate .path1:before {
  content: "\e9e9";
  color: rgb(255, 255, 255);
}
.icon-R-alternate .path2:before {
  content: "\e9ea";
  margin-left: -0.94921875em;
  color: rgb(59, 31, 135);
  opacity: 0.98;
}
.icon-R-alternate .path3:before {
  content: "\e9eb";
  margin-left: -0.94921875em;
  color: rgb(252, 207, 0);
}
.icon-R-alternate .path4:before {
  content: "\e9ec";
  margin-left: -0.94921875em;
  color: rgb(0, 0, 0);
}
.icon-R-alternate .path5:before {
  content: "\e9ed";
  margin-left: -0.94921875em;
  color: none;
}
.icon-R-alternate .path6:before {
  content: "\e9ee";
  margin-left: -0.94921875em;
  color: none;
}
.icon-R .path1:before {
  content: "\e99e";
  color: rgb(255, 255, 255);
}
.icon-R .path2:before {
  content: "\e99f";
  margin-left: -0.8984375em;
  color: rgb(59, 31, 135);
}
.icon-R .path3:before {
  content: "\e9a0";
  margin-left: -0.8984375em;
  color: rgb(252, 207, 0);
}
.icon-R .path4:before {
  content: "\e9a1";
  margin-left: -0.8984375em;
  color: rgb(0, 0, 0);
}
.icon-R .path5:before {
  content: "\e9a2";
  margin-left: -0.8984375em;
  color: none;
}
.icon-R .path6:before {
  content: "\e9a3";
  margin-left: -0.8984375em;
  color: none;
}
.icon-S-alternate-1 .path1:before {
  content: "\e9a4";
  color: rgb(59, 31, 135);
}
.icon-S-alternate-1 .path2:before {
  content: "\e9a5";
  margin-left: -0.8955078125em;
  color: rgb(255, 255, 255);
}
.icon-S-alternate-1 .path3:before {
  content: "\e9a6";
  margin-left: -0.8955078125em;
  color: rgb(252, 207, 0);
}
.icon-S-alternate-1 .path4:before {
  content: "\e9a7";
  margin-left: -0.8955078125em;
  color: none;
  opacity: 0.393;
}
.icon-S-alternate-2 .path1:before {
  content: "\e9a8";
  color: rgb(255, 255, 255);
}
.icon-S-alternate-2 .path2:before {
  content: "\e9a9";
  margin-left: -0.8310546875em;
  color: rgb(59, 31, 135);
}
.icon-S-alternate-2 .path3:before {
  content: "\e9aa";
  margin-left: -0.8310546875em;
  color: rgb(252, 207, 0);
}
.icon-S-alternate-2 .path4:before {
  content: "\e9ab";
  margin-left: -0.8310546875em;
  color: none;
}
.icon-S-alternate-2 .path5:before {
  content: "\e9ac";
  margin-left: -0.8310546875em;
  color: none;
}
.icon-S .path1:before {
  content: "\e9ad";
  color: rgb(255, 255, 255);
}
.icon-S .path2:before {
  content: "\e9ae";
  margin-left: -0.6533203125em;
  color: rgb(59, 31, 135);
}
.icon-S .path3:before {
  content: "\e9af";
  margin-left: -0.6533203125em;
  color: rgb(252, 207, 0);
  opacity: 0.9851;
}
.icon-S .path4:before {
  content: "\e9b0";
  margin-left: -0.6533203125em;
  color: none;
}
.icon-T .path1:before {
  content: "\e9b1";
  color: rgb(255, 255, 255);
}
.icon-T .path2:before {
  content: "\e9b2";
  margin-left: -0.935546875em;
  color: rgb(59, 31, 135);
}
.icon-T .path3:before {
  content: "\e9b3";
  margin-left: -0.935546875em;
  color: rgb(252, 207, 0);
}
.icon-T .path4:before {
  content: "\e9b4";
  margin-left: -0.935546875em;
  color: none;
}
.icon-T .path5:before {
  content: "\e9b5";
  margin-left: -0.935546875em;
  color: none;
}
.icon-U-alternate .path1:before {
  content: "\e9b6";
  color: rgb(255, 255, 255);
}
.icon-U-alternate .path2:before {
  content: "\e9b7";
  margin-left: -0.8828125em;
  color: rgb(59, 31, 135);
}
.icon-U-alternate .path3:before {
  content: "\e9b8";
  margin-left: -0.8828125em;
  color: rgb(252, 207, 0);
}
.icon-U-alternate .path4:before {
  content: "\e9b9";
  margin-left: -0.8828125em;
  color: none;
}
.icon-V .path1:before {
  content: "\e9ba";
  color: rgb(59, 31, 135);
}
.icon-V .path2:before {
  content: "\e9bb";
  margin-left: -1.126953125em;
  color: rgb(255, 255, 255);
}
.icon-V .path3:before {
  content: "\e9bc";
  margin-left: -1.126953125em;
  color: rgb(252, 207, 0);
}
.icon-V .path4:before {
  content: "\e9bd";
  margin-left: -1.126953125em;
  color: none;
}
.icon-W .path1:before {
  content: "\e9be";
  color: rgb(255, 255, 255);
}
.icon-W .path2:before {
  content: "\e9bf";
  margin-left: -1.2509765625em;
  color: rgb(59, 31, 135);
}
.icon-W .path3:before {
  content: "\e9c0";
  margin-left: -1.2509765625em;
  color: rgb(252, 207, 0);
}
.icon-W .path4:before {
  content: "\e9c1";
  margin-left: -1.2509765625em;
  color: none;
}
.icon-W .path5:before {
  content: "\e9c2";
  margin-left: -1.2509765625em;
  color: none;
}
.icon-X .path1:before {
  content: "\e9c3";
  color: rgb(255, 255, 255);
}
.icon-X .path2:before {
  content: "\e9c4";
  margin-left: -1.05078125em;
  color: rgb(59, 31, 135);
}
.icon-X .path3:before {
  content: "\e9c5";
  margin-left: -1.05078125em;
  color: rgb(252, 207, 0);
}
.icon-X .path4:before {
  content: "\e9c6";
  margin-left: -1.05078125em;
  color: none;
}
.icon-X .path5:before {
  content: "\e9c7";
  margin-left: -1.05078125em;
  color: none;
}
.icon-Y .path1:before {
  content: "\e9c8";
  color: rgb(255, 255, 255);
}
.icon-Y .path2:before {
  content: "\e9c9";
  margin-left: -1.060546875em;
  color: rgb(59, 31, 135);
}
.icon-Y .path3:before {
  content: "\e9ca";
  margin-left: -1.060546875em;
  color: rgb(252, 207, 0);
}
.icon-Y .path4:before {
  content: "\e9cb";
  margin-left: -1.060546875em;
  color: none;
}
.icon-Y .path5:before {
  content: "\e9cc";
  margin-left: -1.060546875em;
  color: none;
}
.icon-Z .path1:before {
  content: "\e9cd";
  color: rgb(255, 255, 255);
}
.icon-Z .path2:before {
  content: "\e9ce";
  margin-left: -0.837890625em;
  color: rgb(59, 31, 135);
}
.icon-Z .path3:before {
  content: "\e9cf";
  margin-left: -0.837890625em;
  color: rgb(252, 207, 0);
}
.icon-Z .path4:before {
  content: "\e9d0";
  margin-left: -0.837890625em;
  color: none;
}
.icon-Z .path5:before {
  content: "\e9d1";
  margin-left: -0.837890625em;
  color: none;
}
